@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0%;
    padding: 0;
    list-style: none;
}
nav{
   
    position: fixed;
    font-family: 'Poppins', sans-serif;
    height: 70px;
    width: 100vw;
    background-color: #EEEEEE;
}
nav ul{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    font-weight: bold;

}
    nav li div{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-top: 20px;
        background-color: #EEEEEE;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav li div img{
        
        height: 60px;
        width: 60px;
      
       
    }
    nav h1 span{
        color: #222222 !important;
        font-weight: 100 !important;
    }
    .cat {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 110px;
        cursor: pointer;
    }
    nav ul li svg{
      height: 15px;
      height: 15px;
    }
    nav input{
     border-radius: 15px;
     border: none;
     height: 30px;
     width: 150px;
     text-align: end;
     padding: 10px;
     font-size: medium;

    }
    .loup {
  
    position: relative;
    left: 40px;
    }
    .sous-cat{
        position: absolute;
     display: none;
        height: 200px;
        width: 150PX;
        top: 50px;
        border-radius: 0;

    }
   
    .sous-cat ul{
 align-items: flex-start;
        display: flex;
        color: #777777 !important;
    flex-direction: column;
    

    }
    
